:root {
  --color-ll-primary: #F4CE14;
  --color-li-secondary: #495E57;
}

/* A basic modern CSS reset */
*, *::before, *::after {
  box-sizing: border-box; /* Ensures padding and borders are included in element's total width/height */
  margin: 0; /* Removes default margins */
  padding: 0; /* Removes default padding */
}

html, body {
  height: 100%; /* Optional: useful for full-height layouts */
}

body {
  font-family: 'Karla', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: 'Markazi Text', serif;
}
